<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>推送审核</title>
  <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body">
          <table id="HealthKnowledge" lay-filter="HealthKnowledge"></table>
          <div class="layui-hide" id="tools">
            <button class="layui-btn layui-btn-sm" lay-event="detail">查看</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="agree">通过</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="disagree">否决</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script>

  layui.use(['jquery','layer', 'table', 'carousel', 'upload', 'element'],function(){
    var layer = layui.layer //弹层
        ,table = layui.table //表格
        ,element = layui.element; //元素操作
    var $ = layui.jquery;

    //第一个实例
    var tableInfo = table.render({
      id: 'HealthKnowledge'
      ,elem: '#HealthKnowledge'
      ,height: 'full-123'
      ,limit:10
      ,url: 'http://localhost:8080/manager/getHealthKnowledgeList' //数据接口
      ,page: true //开启分页
      ,skin: 'line '
      ,cols: [
        [ //表头
          {type:'checkbox'}
          ,{field: 'healthKnowledgeId', title: 'ID', width:97, sort: true,unresize:true}
          ,{field: 'title', title: '标题', width:300, align: 'left',unresize:true}
          ,{field:'content', title:'内容',align:'center',width:600,unresize:true}
          ,{title:'操作',width: 225, align:'center', toolbar: '#tools'}
        ]
      ]
    });

    table.on('tool(HealthKnowledge)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
      var data = obj.data //获得当前行数据
          , layEvent = obj.event;//获得 lay-event 对应的值

      if(layEvent === 'detail')
      {
        layer.open({
          type: 2,
          content: "http://localhost:8080/manager/showHealthKnowledge?id=" + data.healthKnowledgeId,   //添加页，后台controller转发到指定页
          area: ["600px", "425px"],
          title: [data.title],
          fixed: false,
          shadeClose: true,
          maxmin: true,
          resize: true,
          end: function () {  //刷新页面
            location.reload();
          }
        })
      }
      else if(layEvent === 'agree')
      {
        $.ajax({
          url: 'http://localhost:8080/manager/agreeHealthKnowledge?id=' + data.healthKnowledgeId,
          async: true,
          type: "Get",
          contentType: "application/json; charset=utf-8",
          dataType:"text",
          success: function (data) {
            if(data === "success")
            {
              layer.msg('通过成功！', {icon: 1});
            }else{
              layer.msg('操作失败！', {icon: 1});
            }
            tableInfo.reload({
              page:{
                curr:1
              }
            })
          },
          error: function (err) {
            layer.msg('操作失败！', {icon: 2});
            tableInfo.reload({})
          }
        });
        return false;
      }
      else if(layEvent === 'disagree')
      {
        $.ajax({
          url: 'http://localhost:8080/manager/disagreeHealthKnowledge?id=' + data.healthKnowledgeId,
          async: true,
          type: "Get",
          contentType: "application/json; charset=utf-8",
          dataType:"text",
          success: function (data) {
            if(data === "success")
            {
              layer.msg('已否决！', {icon: 1});
            }else{
              layer.msg('操作失败！', {icon: 1});
            }
            tableInfo.reload({
              page:{
                curr:1
              }
            })
          },
          error: function (err) {
            layer.msg('操作失败！', {icon: 2});
            tableInfo.reload({})
          }
        });
        return false;
      }
    });
  });

</script>

</html>