<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>通知</title>
  <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
  <style>
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
    }
  </style>
</head>
<body>
<h1 style="text-align: center;" th:text="${notice.title}"></h1>
<p style="text-align: center;" th:text="${notice.publisher}"></p>
<p style="text-align: center;" th:text="${notice.time}"></p>
<div class="content" style="margin: 7px">
  <p th:utext="${notice.content}"></p>
</div>


</body>
<script th:src="@{/layui/layui.js}"></script>
</html>