<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
		<meta charset="utf-8" />
		<title>layTabPlus</title>
		<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
		<style>
			.sysNotice .layui-table {
				margin-top: 0;
				border-left: 5px solid #e2e2e2;
			}

			.layui-elem-quote.title {
				padding: 10px 15px;
				margin-bottom: 0;
			}

			.sysNotice {
				width: 75%;
			}
			.code{
				color: #c7254e;
				background-color: #f9f2f4;
				border-radius: 2px;
				padding: 4px 2px 0;
			}
		</style>
	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header" style="background-color: #393D49;">
				<a href="">
					<div class="layui-logo" style="background-color: #393D49;">
						<span style="color: #eeeeee;font-size: x-large">家庭医生</span>
					</div>
				</a>
				<!-- 头部区域（可配合layui已有的水平导航） -->

				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="/"><i class="layui-icon layui-icon-home" style="color: #ffffff;font-size: larger;"></i></a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="https://gitee.com/uploads/66/890966_Leytton.png?1512991922" class="layui-nav-img">
							<span style="color: #ffffff">
								<th:block sec:authentication="name"></th:block>
							</span>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" class="layTabPlus" tab_url="http://localhost:8080/self_center/my_info">我的资料</a>
							</dd>
							<dd>
								<a href="javascript:;" class="layTabPlus" tab_url="http://localhost:8080/self_center/my_team">我的团队</a>
							</dd>
							<dd>
								<a href="">安全设置</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="/logout"><span style="color: #ffffff">注销</span></a>
					</li>
				</ul>
			</div>
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">

					</ul>
				</div>
			</div>

			<div class="layui-body">
				<!-- 内容主体区域 -->
				<div class="layui-tab" lay-filter="demoTab" lay-allowClose="true">
					<ul class="layui-tab-title">
											<li class="layui-this noclose" lay-id='base_info'>基本信息</li>
										</ul>
											<div class="layui-tab-content" style="padding:0px;">
												<div class="layui-tab-item layui-show">
													<div class="sysNotice col">
														<blockquote class="layui-elem-quote title">基本信息</blockquote>
														<table class="layui-table">
															<tbody>
															<tr>
																<td>当前版本</td>
											<td class="version">V1.2</td>
										</tr>
										<tr>
											<td>开发作者</td>
											<td class="author">Leytton</td>
										</tr>
										<tr>
											<td>项目首页</td>
											<td class="homePage"><a href="https://gitee.com/Leytton/layTabPlus">https://gitee.com/Leytton/layTabPlus</a></td>
										</tr>
										<tr>
											<td colspan="2">
												<script src='https://gitee.com/Leytton/layTabPlus/widget_preview'></script>
												<style>
												.pro_name a{color: #4183c4;}
												.osc_git_title{background-color: #fff;}
												.osc_git_box{background-color: #fff;}
												.osc_git_box{border-color: #E3E9ED;}
												.osc_git_info{color: #666;}
												.osc_git_main a{color: #9B9B9B;}
												</style>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-footer">
				<!--© 2018 <a href="https://gitee.com/Leytton/layTabPlus">layTabPlus</a> - by Leytton-->
			</div>
		</div>
		<script th:src="@{/layui/layui.all.js}"></script>
		<script>
			var $ = layui.jquery;
			var layer = layui.layer;
			var element = layui.element;
			var util = layui.util;
			var table = layui.table;
		</script>
		<script th:src="@{/js/layTabPlus.js}"></script>
		<script>
			layTabPlus.init({
				lay_filter: 'demoTab'
			});
			//菜单循环遍历打印拼接操作
			$(function () {
				$.ajax( {
					url : 'http://localhost:8080/menu/findMenuByRole',
					type : 'post',
					dataType : 'json',
					success : function(data) {
						var menu = ""; //定义变量存储
						for(var i = 0;i<data.length;i++){
							menu += "<li class='layui-nav-item layui-nav-itemed'>";
							if(data[i].parentId === -1 && data[i].type === "menu"){ //取出父元素的菜单，拼进页面
								menu += "<a href='javascript:;'>"+data[i].menuName+"</a>";
								for(var j = 0;j<data.length;j++){ //继续遍历这几条数据
									if(data[j].parentId === data[i].menuId && data[j].type === "menu"){ //取出这个父元素所对应的子元素
										menu += "<dl class='layui-nav-child'>";
										menu += "<dd>";
										menu +=  "<a href='javascript:;' class='layTabPlus' tab_url='http://localhost:8080"+data[j].url+"'>"+data[j].menuName+"</a>";
										menu += "</dd>";
										menu += "</dl>"
									}
								}
							}
							menu += "</li>";
						}
						$(".layui-nav-tree").append(menu);
						layui.use('element', function() {
							element.init();
						});
					}
				});
			})
		</script>
	</body>

</html>
