<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <!-- 引入静态资源 -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <style>
        /*上下左右居中*/
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 150px;
        }
    </style>
</head>
<body>
<div class="main">
    <form class="layui-form" method="post" action="/login">
        <div class="layui-form-item">
            <h1 style="text-align: center">登录</h1>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="captcha" name="captcha" placeholder="请输入验证码" class="layui-input" style="float: left;width: 52%">
                <img id="captchaImg" th:src="@{/getVerifyCodeImage}" onclick="changeCode()"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline login-btn">
                <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                <button type="reset" class="layui-btn" style="float: right">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    //项目路径
    layui.use(['form','layer','jquery'], function () {

        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(formDemo)',function (data) {

        })

    });

    function changeCode() {
        var img = document.getElementById("captchaImg");
        img.src = "/getVerifyCodeImage?time=" + new Date().getTime();
    }
</script>
</html>