<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ComplaintMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Complaint" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="complainant" property="complainant" jdbcType="VARCHAR" />
    <result column="doctor_id" property="doctorId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, complainant, doctor_id, content, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Complaint_form
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Complaint_form
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.Complaint" >
    insert into Complaint_form (id, complainant, doctor_id, 
      content, time)
    values (#{id,jdbcType=BIGINT}, #{complainant,jdbcType=VARCHAR}, #{doctorId,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Complaint" >
    insert into Complaint_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="complainant != null" >
        complainant,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="complainant != null" >
        #{complainant,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Complaint" >
    update Complaint_form
    <set >
      <if test="complainant != null" >
        complainant = #{complainant,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Complaint" >
    update Complaint_form
    set complainant = #{complainant,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>