<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.FamilyMemberMapper" >
  <resultMap id="BaseResultMap" type="com.entity.FamilyMember" >
    <id column="family_member_id" property="familyMemberId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="card_id" property="cardId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="family_id" property="familyId" jdbcType="BIGINT" />
    <result column="emergency_contact_name" property="emergencyContactName" jdbcType="VARCHAR" />
    <result column="emergency_contact_phone" property="emergencyContactPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    family_member_id, name, age, sex, card_id, phone, password, family_id, emergency_contact_name, 
    emergency_contact_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from family_member_form
    where family_member_id = #{familyMemberId,jdbcType=BIGINT}
  </select>

  <select id="getAllMemberList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from family_member_form
    where family_id = #{familyId,jdbcType=BIGINT}
  </select>

  <select id="getAll" resultMap="BaseResultMap">
    select top 1 * from family_member_form order by family_member_id desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from family_member_form
    where family_member_id = #{familyMemberId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.FamilyMember" >
    insert into family_member_form (family_member_id, name, age, 
      sex, card_id, phone, 
      password, family_id, emergency_contact_name, 
      emergency_contact_phone)
    values (#{familyMemberId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{sex,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{familyId,jdbcType=BIGINT}, #{emergencyContactName,jdbcType=VARCHAR}, 
      #{emergencyContactPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.FamilyMember" >
    insert into family_member_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="familyMemberId != null" >
        family_member_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="familyId != null" >
        family_id,
      </if>
      <if test="emergencyContactName != null" >
        emergency_contact_name,
      </if>
      <if test="emergencyContactPhone != null" >
        emergency_contact_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="familyMemberId != null" >
        #{familyMemberId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="familyId != null" >
        #{familyId,jdbcType=BIGINT},
      </if>
      <if test="emergencyContactName != null" >
        #{emergencyContactName,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContactPhone != null" >
        #{emergencyContactPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.FamilyMember" >
    update family_member_form
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="familyId != null" >
        family_id = #{familyId,jdbcType=BIGINT},
      </if>
      <if test="emergencyContactName != null" >
        emergency_contact_name = #{emergencyContactName,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContactPhone != null" >
        emergency_contact_phone = #{emergencyContactPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where family_member_id = #{familyMemberId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.FamilyMember" >
    update family_member_form
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      family_id = #{familyId,jdbcType=BIGINT},
      emergency_contact_name = #{emergencyContactName,jdbcType=VARCHAR},
      emergency_contact_phone = #{emergencyContactPhone,jdbcType=VARCHAR}
    where family_member_id = #{familyMemberId,jdbcType=BIGINT}
  </update>
</mapper>