<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.FamilyMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Family" >
    <id column="family_id" property="familyId" jdbcType="BIGINT" />
    <result column="householder_name" property="householderName" jdbcType="VARCHAR" />
    <result column="population" property="population" jdbcType="INTEGER" />
    <result column="householder_phone" property="householderPhone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="hospital_id" property="hospitalId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    family_id, householder_name, population, householder_phone, address,hospital_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from family_form
    where family_id = #{familyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from family_form
    where family_id = #{familyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.Family" >
    insert into family_form (family_id, householder_name, population, 
      householder_phone, address, hospital_id)
    values (#{familyId,jdbcType=BIGINT}, #{householderName,jdbcType=VARCHAR}, #{population,jdbcType=INTEGER}, 
      #{householderPhone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{hospitalId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Family" >
    insert into family_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="familyId != null" >
        family_id,
      </if>
      <if test="householderName != null" >
        householder_name,
      </if>
      <if test="population != null" >
        population,
      </if>
      <if test="householderPhone != null" >
        householder_phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="hospitalId != null" >
        hospital_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="familyId != null" >
        #{familyId,jdbcType=BIGINT},
      </if>
      <if test="householderName != null" >
        #{householderName,jdbcType=VARCHAR},
      </if>
      <if test="population != null" >
        #{population,jdbcType=INTEGER},
      </if>
      <if test="householderPhone != null" >
        #{householderPhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Family" >
    update family_form
    <set >
      <if test="householderName != null" >
        householder_name = #{householderName,jdbcType=VARCHAR},
      </if>
      <if test="population != null" >
        population = #{population,jdbcType=INTEGER},
      </if>
      <if test="householderPhone != null" >
        householder_phone = #{householderPhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null" >
        hospital_id = #{hospitalId,jdbcType=BIGINT},
      </if>
    </set>
    where family_id = #{familyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Family" >
    update family_form
    set householder_name = #{householderName,jdbcType=VARCHAR},
      population = #{population,jdbcType=INTEGER},
      householder_phone = #{householderPhone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      hospital_id = #{hospitalId,jdbcType=BIGINT}
    where family_id = #{familyId,jdbcType=BIGINT}
  </update>

  <select id="getLastOne" resultMap="BaseResultMap">
    select top 1 * from family_form order by family_id desc
  </select>

  <select id="getFamilyList" resultMap="BaseResultMap">
    SELECT * FROM family_form where hospital_id = #{hospitalId,jdbcType=BIGINT}
    <if test="householderName!='null'">
      AND householder_name LIKE  '%${householderName}%'
    </if>
    <if test="householderPhone!='null'">
      AND householder_phone LIKE  '${householderPhone}'
    </if>
  </select>

  <select id="getAllFamilyList" resultMap="BaseResultMap">
    SELECT * FROM family_form where hospital_id = #{hospitalId,jdbcType=BIGINT}
  </select>
</mapper>