<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.HealthKnowledgeMapper" >
  <resultMap id="BaseResultMap" type="com.entity.HealthKnowledge" >
    <id column="Health_knowledge_id" property="healthKnowledgeId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="publisher_id" property="publisherId" jdbcType="BIGINT" />
    <result column="review_status" property="reviewStatus" jdbcType="VARCHAR" />
    <result column="reviewer" property="reviewer" jdbcType="VARCHAR" />
    <result column="review_time" property="reviewTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Health_knowledge_id, title, content, publisher_id, review_status, reviewer, review_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    *
    from Health_knowledge_form
    where Health_knowledge_id = #{healthKnowledgeId,jdbcType=BIGINT}
  </select>
  <select id="getHealthKnowledgeList" resultMap="BaseResultMap">
    select
    *
    from Health_knowledge_form
    where review_status = #{reviewStatus,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Health_knowledge_form
    where Health_knowledge_id = #{healthKnowledgeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.HealthKnowledge" >
    insert into Health_knowledge_form (Health_knowledge_id, title,
      publisher_id, review_status, reviewer, 
      review_time, content)
    values (#{healthKnowledgeId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{publisherId,jdbcType=BIGINT},
    #{reviewStatus,jdbcType=VARCHAR}, #{reviewer,jdbcType=VARCHAR}, #{reviewTime,jdbcType=TIMESTAMP},
    #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.HealthKnowledge" >
    insert into Health_knowledge_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="healthKnowledgeId != null" >
        Health_knowledge_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="publisherId != null" >
        publisher_id,
      </if>
      <if test="reviewStatus != null" >
        review_status,
      </if>
      <if test="reviewer != null" >
        reviewer,
      </if>
      <if test="reviewTime != null" >
        review_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="healthKnowledgeId != null" >
        #{healthKnowledgeId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null" >
        #{publisherId,jdbcType=BIGINT},
      </if>
      <if test="reviewStatus != null" >
        #{reviewStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewer != null" >
        #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.HealthKnowledge" >
    update Health_knowledge_form
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null" >
        publisher_id = #{publisherId,jdbcType=BIGINT},
      </if>
      <if test="reviewStatus != null" >
        review_status = #{reviewStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewer != null" >
        reviewer = #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Health_knowledge_id = #{healthKnowledgeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.HealthKnowledge" >
    update Health_knowledge_form
    set title = #{title,jdbcType=VARCHAR},
      publisher_id = #{publisherId,jdbcType=BIGINT},
      review_status = #{reviewStatus,jdbcType=VARCHAR},
      reviewer = #{reviewer,jdbcType=VARCHAR},
      review_time = #{reviewTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where Health_knowledge_id = #{healthKnowledgeId,jdbcType=BIGINT}
  </update>



</mapper>