<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.entity.Notice">
    <id column="Notice_id " jdbcType="BIGINT" property="noticeId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="hospital_id" jdbcType="BIGINT" property="hospitalId" />
  </resultMap>
  <sql id="Base_Column_List">
    "Notice_id ", title,content, time, publisher, hospital_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    *
    from Notice_form
    where "Notice_id " = #{noticeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Notice_form
    where "Notice_id " = #{noticeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.Notice">
    insert into Notice_form ("Notice_id ", title, time, 
      publisher, hospital_id, content
      )
    values (#{noticeId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{publisher,jdbcType=VARCHAR}, #{hospitalId,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Notice">
    insert into Notice_form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        "Notice_id ",
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        #{noticeId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Notice">
    update Notice_form
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where "Notice_id " = #{noticeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.entity.Notice">
    update Notice_form
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      publisher = #{publisher,jdbcType=VARCHAR},
      hospital_id = #{hospitalId,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where "Notice_id " = #{noticeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Notice">
    update Notice_form
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      publisher = #{publisher,jdbcType=VARCHAR},
      hospital_id = #{hospitalId,jdbcType=BIGINT}
    where "Notice_id " = #{noticeId,jdbcType=BIGINT}
  </update>


  <select id="getLastOne" resultMap="BaseResultMap">
    select top 1 * from Notice_form order by Notice_id desc
  </select>

  <select id="getNoticeList" resultMap="BaseResultMap">
    SELECT * FROM Notice_form where hospital_id=#{hospitalId,jdbcType=BIGINT}
    <if test="title!='null'">
      AND title LIKE  '%${title}%'
    </if>
    <if test="publisher!='null'">
      AND publisher LIKE  '%${publisher}%'
    </if>
    ORDER BY Notice_form.time DESC
  </select>

  <delete id="batchDeleteNotice" parameterType="java.util.List">
    delete
    from Notice_form
    where Notice_id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </delete>
</mapper>