<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ThresholdMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Threshold" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="preset_value" property="presetValue" jdbcType="VARCHAR" />
    <result column="measurement_type" property="measurementType" jdbcType="VARCHAR" />
    <result column="Measurement_id" property="measurementId" jdbcType="BIGINT" />
    <result column="cardId" property="cardId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, preset_value, measurement_type, Measurement_id, cardId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Threshold_form
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getLastOne" resultMap="BaseResultMap">
    select * from Threshold_form order by id desc limit 1
  </select>

  <select id="selectByCardId" resultMap="BaseResultMap">
    select
    *
    from Threshold_form
    where cardId = #{cardId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Threshold_form
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.Threshold" >
    insert into Threshold_form (id, code, preset_value, 
      measurement_type, Measurement_id, cardId
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{presetValue,jdbcType=VARCHAR}, 
      #{measurementType,jdbcType=VARCHAR}, #{measurementId,jdbcType=BIGINT}, #{cardId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Threshold" >
    insert into Threshold_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="presetValue != null" >
        preset_value,
      </if>
      <if test="measurementType != null" >
        measurement_type,
      </if>
      <if test="measurementId != null" >
        Measurement_id,
      </if>
      <if test="cardId != null" >
        cardId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="presetValue != null" >
        #{presetValue,jdbcType=VARCHAR},
      </if>
      <if test="measurementType != null" >
        #{measurementType,jdbcType=VARCHAR},
      </if>
      <if test="measurementId != null" >
        #{measurementId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Threshold" >
    update Threshold_form
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="presetValue != null" >
        preset_value = #{presetValue,jdbcType=VARCHAR},
      </if>
      <if test="measurementType != null" >
        measurement_type = #{measurementType,jdbcType=VARCHAR},
      </if>
      <if test="measurementId != null" >
        Measurement_id = #{measurementId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null" >
        cardId = #{cardId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Threshold" >
    update Threshold_form
    set code = #{code,jdbcType=VARCHAR},
      preset_value = #{presetValue,jdbcType=VARCHAR},
      measurement_type = #{measurementType,jdbcType=VARCHAR},
      Measurement_id = #{measurementId,jdbcType=BIGINT},
      cardId = #{cardId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>