<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.UnitMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Unit" >
    <id column="unit_id" property="unitId" jdbcType="BIGINT" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="corporate" property="corporate" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    unit_id, unit_name, corporate, phone, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from unit_form
    where unit_id = #{unitId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from unit_form
    where unit_id = #{unitId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.Unit" >
    insert into unit_form (unit_id, unit_name, corporate, 
      phone, address)
    values (#{unitId,jdbcType=BIGINT}, #{unitName,jdbcType=VARCHAR}, #{corporate,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Unit" >
    insert into unit_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="corporate != null" >
        corporate,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitId != null" >
        #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="corporate != null" >
        #{corporate,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Unit" >
    update unit_form
    <set >
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="corporate != null" >
        corporate = #{corporate,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where unit_id = #{unitId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Unit" >
    update unit_form
    set unit_name = #{unitName,jdbcType=VARCHAR},
      corporate = #{corporate,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where unit_id = #{unitId,jdbcType=BIGINT}
  </update>
</mapper>